$couleurFond : #F6F6F6;

.portfolio {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 170px;
    
    .portfolio__listeAppart {
        flex: 1;
	    display: grid;
	    grid-template-columns: repeat(3, 1fr);
	    grid-column-gap: 0px;
	    grid-row-gap: 40px;
        width: 100%;
        background-color: $couleurFond;
        padding-top: 40px;
        padding-bottom: 40px;
        

    .portfolio__listeAppart--appart{
        width: 340px;
        height: 340px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .portfolio__listeAppart--appart:hover{
       cursor: pointer;
    }
    }
}

.image {
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
}


.image__title {
    z-index: 100;
    position: absolute;
    bottom: 1%;
    left: 5%;
    width: 55%;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    z-index: 2;
}

.borderCard {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.image__ombre {
    width: 100%;
    height: 100%;
    position: absolute;/* Ajustez cette valeur pour contrôler la hauteur de l'assombrissement */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    //pointer-events: none;
    //content: '';
    z-index: 1;
  }