$errorColor : #FF6060;


.error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1240px;
    height: 650px;
    .error__color{
       color : $errorColor;
    }
    .padding{
        padding-top: 80px;
    }
}