$color-accueil : #FF6060;

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    //width: 1240px;
    //max-width: 1240px;
    padding: 30px 0px;
    .nav__logo{
        .nav__logo--logo{
          width: 211px;
            
            
        }
        
    }

    .nav__div {
        gap : 20px;
        display: flex;
        justify-content: space-between;

        .nav__lien--actif {
            border-bottom: 1px solid $color-accueil;
          }
          .nav__lien{
            text-decoration: none;
            color: $color-accueil ;
            font-size: 26px;
        }
        .nav__lien:hover {
            border-bottom: 1px solid $color-accueil;
        }
    }
  
}

//--------------------------medias queries------------------------------------


@media screen and (max-width: 1200px) {
    header {
      max-width:90%;
      align-items: center;
      justify-content:space-between;
      margin-left: 40px;
      .nav__div {
        gap : 20px;
        display: flex;
        justify-content: space-between;

        .nav__lien--actif {
            border-bottom: 1px solid $color-accueil;
          }
          .nav__lien{
            text-decoration: none;
            color: $color-accueil ;
            font-size: 26px;
        }
        .nav__lien:hover {
            border-bottom: 1px solid $color-accueil;
        }
    }
    }
  }

  //--------------------------medias queries------------------------------------


@media screen and (max-width: 545px) {
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        //width: 1240px;
        //max-width: 1240px;
        padding: 30px 0px;
        margin-left: 10px;
        .nav__logo{
            .nav__logo--logo{
              width: 100px;
                
                
            }
            
        }
    
        .nav__div {
            gap : 10px;
            display: flex;
            justify-content: space-between;
    
            .nav__lien--actif {
                border-bottom: 1px solid $color-accueil;
              }
              .nav__lien{
                text-decoration: none;
                color: $color-accueil ;
                font-size: 15px;
                text-transform: uppercase;
            }
            .nav__lien:hover {
                border-bottom: 1px solid $color-accueil;
            }
        }
      
    }
  }



