$colorClosed :#FF6060;

.ajustement{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;     
}

.propos {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    width: 85%;
    max-width: 85%;
    margin-bottom: 140px;
    
    .propos__fenetre {
      margin: 10px 0;
      border: none;
      padding: 10px;
      display: flex;
      align-items: center;
     
      
      .propos__closed {
        flex: 1;
        display: flex;
        width: 100%;
        max-width: 100%;
        align-items: center;  
        justify-content: space-between;
        background-color: $colorClosed;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        
        .bouton {
          background: none;
          border: none;
          cursor: pointer;
          outline: none;
        }
        .propos__closed--para{
            color: white;
            padding-left: 15px;
            font-family: Montserrat;
            font-weight: 500;
            font-size: 24px;
        }
        
        .propos__closed--logo {
          max-width: 30px;
        }
      }
      
      .closed__fenetre { // Caché par défaut
        text-align: center;
        background-color: #F6F6F6; 
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        .closed__fenetre--para{
            color: $colorClosed;
        }
      }
      
      
    }
  }

